<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<title>Alkaline - Responsive Template</title>
		<meta name="keywords" content="" />
		<meta name="description" content="" />
		<meta name="Author" content="Dorin Grigoras [www.stepofweb.com]" />

		<!-- mobile settings -->
		<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

		<!-- WEB FONTS -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800" rel="stylesheet" type="text/css" />

		<!-- CORE CSS -->
		<link href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
		<link href="assets/css/font-awesome.css" rel="stylesheet" type="text/css" />
		<link href="assets/plugins/owl-carousel/owl.carousel.css" rel="stylesheet" type="text/css" />
		<link href="assets/plugins/owl-carousel/owl.theme.css" rel="stylesheet" type="text/css" />
		<link href="assets/plugins/owl-carousel/owl.transitions.css" rel="stylesheet" type="text/css" />
		<link href="assets/plugins/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css" />

		<!-- THEME CSS -->
		<link href="assets/css/essentials.css" rel="stylesheet" type="text/css" />
		<link href="assets/css/layout.css" rel="stylesheet" type="text/css" />
		<link href="assets/css/color_scheme/green.css" rel="stylesheet" type="text/css" />

		<!-- styleswitcher - demo only -->
		<link href="assets/css/color_scheme/orange.css" rel="alternate stylesheet" type="text/css" title="orange" />
		<link href="assets/css/color_scheme/red.css" rel="alternate stylesheet" type="text/css" title="red" />
		<link href="assets/css/color_scheme/pink.css" rel="alternate stylesheet" type="text/css" title="pink" />
		<link href="assets/css/color_scheme/yellow.css" rel="alternate stylesheet" type="text/css" title="yellow" />
		<link href="assets/css/color_scheme/darkgreen.css" rel="alternate stylesheet" type="text/css" title="darkgreen" />
		<link href="assets/css/color_scheme/green.css" rel="alternate stylesheet" type="text/css" title="green" />
		<link href="assets/css/color_scheme/darkblue.css" rel="alternate stylesheet" type="text/css" title="darkblue" />
		<link href="assets/css/color_scheme/blue.css" rel="alternate stylesheet" type="text/css" title="blue" />
		<link href="assets/css/color_scheme/brown.css" rel="alternate stylesheet" type="text/css" title="brown" />
		<link href="assets/css/color_scheme/lightgrey.css" rel="alternate stylesheet" type="text/css" title="lightgrey" />
		<!-- /styleswitcher - demo only -->

		<!-- STYLESWITCHER - REMOVE ON PRODUCTION/DEVELOPMENT -->
		<link href="assets/plugins/styleswitcher/styleswitcher.css" rel="stylesheet" type="text/css" />	

		<!-- Morenizr -->
		<script type="text/javascript" src="assets/plugins/modernizr.min.js"></script>
	</head>
	<body>

		<!-- STYLESWITCHER - REMOVE ON PRODUCTION/DEVELOPMENT -->
		<div id="switcher">
			<div class="content-switcher" >        
				<h4>STYLE OPTIONS</h4>

				<p>10 Predefined Color Schemes</p>
				<ul>            
					<li><a href="#" onclick="setActiveStyleSheet('green'); return false;" title="green" class="color"><img src="assets/images/demo/color_schemes/6.png" alt="" width="30" height="30" /></a></li>
					<li><a href="#" onclick="setActiveStyleSheet('orange'); return false;" title="orange" class="color"><img src="assets/images/demo/color_schemes/1.png" alt="" width="30" height="30" /></a></li>
					<li><a href="#" onclick="setActiveStyleSheet('red'); return false;" title="red" class="color"><img src="assets/images/demo/color_schemes/2.png" alt="" width="30" height="30" /></a></li>
					<li><a href="#" onclick="setActiveStyleSheet('pink'); return false;" title="pink" class="color"><img src="assets/images/demo/color_schemes/3.png" alt="" width="30" height="30" /></a></li>
					<li><a href="#" onclick="setActiveStyleSheet('yellow'); return false;" title="yellow" class="color"><img src="assets/images/demo/color_schemes/4.png" alt="" width="30" height="30" /></a></li>
					<li><a href="#" onclick="setActiveStyleSheet('darkgreen'); return false;" title="darkgreen" class="color"><img src="assets/images/demo/color_schemes/5.png" alt="" width="30" height="30" /></a></li>
					<li><a href="#" onclick="setActiveStyleSheet('darkblue'); return false;" title="darkblue" class="color"><img src="assets/images/demo/color_schemes/7.png" alt="" width="30" height="30" /></a></li>
					<li><a href="#" onclick="setActiveStyleSheet('blue'); return false;" title="blue" class="color"><img src="assets/images/demo/color_schemes/8.png" alt="" width="30" height="30" /></a></li>
					<li><a href="#" onclick="setActiveStyleSheet('brown'); return false;" title="brown" class="color"><img src="assets/images/demo/color_schemes/9.png" alt="" width="30" height="30" /></a></li>
					<li><a href="#" onclick="setActiveStyleSheet('lightgrey'); return false;" title="lightgrey" class="color"><img src="assets/images/demo/color_schemes/10.png" alt="" width="30" height="30" /></a></li>
				</ul>        

				<div id="hideSwitcher">&times;</div>
			</div>
		</div>

		<div id="showSwitcher" class="styleSecondColor"><i class="fa fa-angle-double-right"></i></div>
		<!-- /STYLESWITCHER -->


		<!-- TOP BAR -->
		<div id="topBar">
			<div class="container">
				<span class="hidden-xs">Welcome to Alkaline: you@domain.com or</span> 
				+800-123-456

				<!-- LANGUAGE -->
				<div class="btn-group pull-right">
					<button class="dropdown-toggle language" type="button" data-toggle="dropdown">
						<img id="current_lang" src="assets/images/flags/us.png" width="16" height="11" alt="EN Language" /> <span class="hidden-xs">English</span> <span class="caret"></span>
					</button>

					<ul class="dropdown-menu">
						<li>
							<a href="#">
								<img src="assets/images/flags/us.png" width="16" height="11" alt="EN Language" /> [US] English
							</a>
						</li>
						<li>
							<a href="#">
								<img src="assets/images/flags/de.png" width="16" height="11" alt="DE Language" /> [DE] German
							</a>
						</li>
						<li>
							<a href="#">
								<img src="assets/images/flags/fr.png" width="16" height="11" alt="FR Language" /> [FR] French
							</a>
						</li>
						<li>
							<a href="#">
								<img src="assets/images/flags/ru.png" width="16" height="11" alt="RU Language" /> [RU] Russian
							</a>
						</li>
					</ul>
				</div>
				<!-- /LANGUAGE -->

				<div class="btn-group pull-right">
					<button class="dropdown-toggle language" type="button" data-toggle="dropdown">
						My Account <span class="caret"></span>
					</button>

					<ul class="dropdown-menu">
						<li>
							<a href="page-login.html"><i class="fa fa-user"></i> Login</a>
						</li>
						<li>
							<a href="page-register.html"><i class="fa fa-key"></i> Register</a>
						</li>
						<li class="divider"></li>
						<li>
							<a href="page-account-settings.html"><i class="fa fa-cogs"></i> Account Settings</a>
						</li>
						<li>
							<a href="shop-history.html"><i class="fa fa-book"></i> Order History</a>
						</li>
						<li>
							<a href="page-account-logout.html"><i class="fa fa-power-off"></i> Logout</a>
						</li>
					</ul>
				</div>


				<!-- 
					LINKS - A MENU ALTERNATIVE
					Do not use this for responsive - too many links.
					If you want to use it, add class: hidden-xs
					Or use it instead of language / my account
				-->
				<!-- 
				<ul class="pull-right list-unstyled links">
					<li><a href="#"><i class="fa fa-user"></i> Login</a></li>
					<li><a href="#"><i class="fa fa-user"></i> Register</a></li>
				</ul>
				-->

			</div>
		</div>
		<!-- /TOP BAR -->




		<!-- HEADER -->
		<header id="header">
			<div class="container">

				<!-- LOGO -->
				<a href="index.html" class="logo"><img alt="" src="assets/images/logo.png" height="60" /></a>
				<!-- LOGO -->

				<!-- OPTIONS -->
				<ul id="topOptions">
					<li>
						<button class="topSearchBtn fa fa-search"></button>
						<!-- search form -->
						<form id="topSearch" method="get" action="page-search.html" class="input-group pull-right">
							<input type="text" class="form-control" name="k" id="k" value="" placeholder="Search">
							<span class="input-group-btn">
								<button class="btn btn-primary notransition"><i class="fa fa-check"></i></button>
							</span>
						</form>
						<!-- /search form -->
					</li>
					<li>
						<div class="button topShopCart fa fa-shopping-cart">
							<span class="items on"><!-- add class "on" for active -->3 items</span>
							<div id="topCart" class="nicescroll">
								<p><b>Total: &euro;1220</b></p>
								<a href="shop-single.html" class="item">
									<img src="assets/images/demo/shop/small/1.jpg" width="40" alt="" />
									<p>Elipsis - Very long title to see how it works</p>
									<span>2 x &euro;250</span>
								</a>
								<a href="shop-single.html" class="item">
									<img src="assets/images/demo/shop/small/2.jpg" width="40" alt="" />
									<p>Extr cool ipad for your family</p>
									<span>1 x &euro;250</span>
								</a>
								<a href="shop-single.html" class="item">
									<img src="assets/images/demo/shop/small/3.jpg" width="40" alt="" />
									<p>Extr cool ipad for your family</p>
									<span>1 x <span class="line-through">&euro;250</span> &euro;220</span>
								</a>

								<div class="bottom">
									<a href="shop-checkout.html" class="btn">PROCEED TO CHECKOUT</a>
									<a href="shop-cart.html">View your cart (3 items)</a>
								</div>
							</div>
						</div>
					</li>
					<li><!-- Mobile Menu Button -->
						<button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
							<i class="fa fa-bars"></i>
						</button>
					</li>
				</ul>
				<!-- /OPTIONS -->


				<!-- TOP MENU -->
				<div class="navbar-collapse nav-main-collapse collapse pull-left">
					<nav class="nav-main mega-menu">
						<ul class="nav nav-pills nav-main scroll-menu" id="topMain">

							<li>
								<a class="dropdown-toggle" href="index.html">HOME</a>
							</li>

							<li class="dropdown active">
								<a class="dropdown-toggle" href="#">PAGES <i class="fa fa-angle-down"></i></a>
								<ul class="dropdown-menu">
									<li><a href="page-about-us.html">About Us</a></li>
									<li><a href="page-team.html">Team</a></li>
									<li><a href="page-services.html">Services</a></li>
									<li><a href="page-faq.html">FAQ</a></li>
									<li><a href="page-pricing.html">Pricing</a></li>
									<li><a href="page-login.html">Login</a></li>
									<li><a href="page-register.html">Register</a></li>
									<li class="active"><a href="page-404.html">404 Error</a></li>
									<li><a href="page-left-sidebar.html">Left Sidebar</a></li>
									<li><a href="page-right-sidebar.html">Right Sidebar</a></li>
									<li><a href="page-full-width.html">Full Width</a></li>
									<li><a href="page-empty.html">Empty Page</a></li>
									<li><a href="page-terms-and-conditions.html">Terms &amp; Conditions</a></li>
								</ul>
							</li>

							<li class="dropdown">
								<a class="dropdown-toggle" href="#">FEATURES <i class="fa fa-angle-down"></i></a>
								<ul class="dropdown-menu">
									<li><a href="shortcodes-toggles.html">Shortcodes</a></li>
									<li><a href="feature-typography.html">Typography</a></li>
									<li><a href="feature-grid.html">Grid</a></li>
									<li><a href="feature-icons.html">Icons</a></li>
									<li><a href="feature-header-1.html">Header 1</a></li>
									<li><a href="feature-header-2.html">Header 2</a></li>
									<li><a href="feature-header-3.html">Header 3</a></li>
									<li><a href="feature-header-4.html">Header 4</a></li>
									<li><a href="feature-top-image.html">Top Image</a></li>
									<li><a href="feature-top-carousel.html">Top Carousel</a></li>
									<li class="dropdown">
										<a href="#">Menu Level #2 <i class="fa fa-angle-right"></i></a>
										<ul class="dropdown-menu">
											<li><a href="#">Menu Level #3</a></li>
										</ul>
									</li>
								</ul>
							</li>

							<li class="dropdown">
								<a class="dropdown-toggle" href="#">PORTFOLIO <i class="fa fa-angle-down"></i></a>
								<ul class="dropdown-menu pull-right">
									<li><a href="portfolio-2-columns.html">2 Columns</a></li>
									<li><a href="portfolio-3-columns.html">3 Columns</a></li>
									<li><a href="portfolio-4-columns.html">4 Columns</a></li>
									<li><a href="portfolio-fullcenter.html">Fullcenter</a></li>
									<li><a href="portfolio-single-basic.html">Single Basic</a></li>
									<li><a href="portfolio-single-slider.html">Single Slider</a></li>
								</ul>
							</li>

							<li class="dropdown">
								<a class="dropdown-toggle" href="#">SHOP <i class="fa fa-angle-down"></i></a>
								<ul class="dropdown-menu pull-right">
									<li><a href="shop-with-sidebar.html">With Sidebar</a></li>
									<li><a href="shop-without-sidebar.html">Without Sidebar</a></li>
									<li><a href="shop-single.html">Single Product</a></li>
									<li><a href="shop-single-sidebar.html">Single Product + Sidebar</a></li>
									<li><a href="shop-cart.html">Shop Cart</a></li>
									<li><a href="shop-checkout.html">Shop Checkout</a></li>
									<li><a href="shop-payment.html">Shop Payment</a></li>
									<li><a href="page-login.html">Login</a></li>
									<li><a href="page-register.html">Register</a></li>
									<li><a href="shop-history.html">Order History</a></li>
									<li><a href="shop-history-summary.html">Order History Summary</a></li>
									<li><a href="shop-invoice.html">Invoice</a></li>
								</ul>
							</li>

							<li class="dropdown">
								<a class="dropdown-toggle" href="#">BLOG <i class="fa fa-angle-down"></i></a>
								<ul class="dropdown-menu pull-right">
									<li><a href="blog-with-sidebar.html">Blog With Sidebar</a></li>
									<li><a href="blog-without-sidebar.html">Blog Without Sidebar</a></li>
									<li><a href="blog-single-with-sidebar.html">Blog Single With Sidebar</a></li>
									<li><a href="blog-single-without-sidebar.html">Blog Single Without Sidebar</a></li>
								</ul>
							</li>

							<li class="dropdown">
								<a class="dropdown-toggle" href="#">CONTACT <i class="fa fa-angle-down"></i></a>
								<ul class="dropdown-menu pull-right">
									<li><a href="contact-1.html">Contact #1</a></li>
									<li><a href="contact-2.html">Contact #2</a></li>
									<li><a href="contact-3.html">Contact #3</a></li>
									<li><a href="contact-4.html">Contact #4</a></li>
								</ul>
							</li>

						</ul>
					</nav>
				</div>
				<!-- /TOP MENU -->

			</div>
		</header>
		<!-- /HEADER -->





		<div id="middle" class="container">
			<div class="white">

				<header class="page-header">
					<h1><strong>Oops</strong>, This Page Could Not Be Found!</h1>
				</header>

				<div class="row">

					<div class="col-md-9">

						<p>
							We're sorry, but the page you were looking for doesn't exist.
						</p>

						<hr class="half-margins invisible" />

						<div class="e404">404</div>

					</div>

					<aside class="col-md-3">

						<h3>SEARCH THE WEBSITE!</h3>
						<div class="row">
							<div class="col-md-12">
								<form method="get" action="#" class="input-group">
									<input type="text" class="form-control" name="s" id="s" value="" placeholder="search..." />
									<span class="input-group-btn">
										<button class="btn btn-primary"><i class="fa fa-search"></i></button>
									</span>
								</form>
							</div>
						</div>

						<h4>USEFUL LINKS</h4>
						<ul class="nav nav-list">
							<li><a href="index.html"><i class="fa fa-angle-right"></i> Home</a></li>
							<li><a href="page-about-us.html"><i class="fa fa-angle-right"></i> About Us</a></li>
							<li><a href="page-services.html"><i class="fa fa-angle-right"></i> Services</a></li>
							<li><a href="contact-us.html"><i class="fa fa-angle-right"></i> Contact</a></li>
						</ul>



					</aside>

				</div>


			</div>
		</div>




		<!-- FOOTER -->
		<footer id="footer">
			<span id="slideTimer"><!-- fs-slideshow timer line --></span>

			<!-- right menu -->
			<ul>
				<li><a href="contact-1.html">CONTACT</a></li>
				<li class="sepy">&bull;</li>
				<li><a href="#" data-toggle="modal" data-target="#socialInlineModal">FOLLOW US</a></li>
			</ul>
			<!-- /right menu -->

			<!-- copyright -->
			<span class="hidden-xs">&copy; YOUR COMPANY, LLC</span>
			<!-- /copyright -->
		</footer>
		<!-- /FOOTER -->


		<!-- FOLLOW US -->
		<div class="modal fade bs-example-modal-lg" id="socialInlineModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">

					<div class="modal-header"><!-- modal header -->
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="myModalLabel"><i class="fa fa-hand-o-down"></i> Follow Us</h4>
					</div><!-- /modal header -->

					<!-- modal body -->
					<div class="modal-body">
						<p>Follow Us online, join our conversations, engage with our teams around the world!</p>
						<div class="text-center">
							<a href="#" class="socialbtn facebook"><i class="fa fa-facebook"></i>Facebook</a>
							<a href="#" class="socialbtn twitter"><i class="fa fa-twitter"></i>Twitter</a>
							<a href="#" class="socialbtn google"><i class="fa fa-google-plus"></i>Google Plus</a>
							<a href="#" class="socialbtn linkedin"><i class="fa fa-linkedin"></i>Linkedin</a>
							<a href="#" class="socialbtn pinterest"><i class="fa fa-pinterest"></i>Pinterest</a>
							<a href="#" class="socialbtn flickr"><i class="fa fa-flickr"></i>Flickr</a>
							<a href="#" class="socialbtn youtube"><i class="fa fa-youtube"></i>Youtube</a>
							<a href="#" class="socialbtn vimeo"><i class="fa fa-vimeo-square"></i>Vimeo</a>
							<a href="#" class="socialbtn skype"><i class="fa fa-skype"></i>Skype</a>
							<a href="#" class="socialbtn rss"><i class="fa fa-rss"></i>Rss</a>
						</div>
					</div>
					<!-- /modal body -->

				</div>
			</div>
		</div>
		<!-- /FOLLOW US -->


		<!-- JAVASCRIPT FILES -->
		<script type="text/javascript" src="assets/plugins/jquery-2.0.3.min.js"></script>
		<script type="text/javascript" src="assets/plugins/jquery.easing.1.3.js"></script>
		<script type="text/javascript" src="assets/plugins/jquery.appear.js"></script>
		<script type="text/javascript" src="assets/plugins/jquery.isotope.js"></script>
		<script type="text/javascript" src="assets/plugins/jquery.nicescroll.min.js"></script>

		<script type="text/javascript" src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="assets/plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
		<script type="text/javascript" src="assets/plugins/owl-carousel/owl.carousel.min.js"></script>
		<script type="text/javascript" src="assets/plugins/knob/js/jquery.knob.js"></script>

		<!-- MAXIMAGE SLIDER -->
		<script type="text/javascript" src="assets/plugins/maximage/js/jquery.cycle.all.min.js"></script>
		<script type="text/javascript" src="assets/plugins/maximage/js/jquery.maximage.min.js"></script>

		<script type="text/javascript" src="assets/js/scripts.js"></script>
		<script type="text/javascript" src="assets/plugins/styleswitcher/styleswitcher.js"></script><!-- STYLESWITCHER - REMOVE ON PRODUCTION/DEVELOPMENT -->

	</body>
</html>